Videos/
images/
.idea/
build/
*.flv
*.mp4
*.mkv
*.avi
*.cbp
*.cmake
*.exe
cmake-build-debug/
cmake/
build/
cropvid/cropvid
cropvid/*.txt
cropvid/*.flac
cropvid/*.crop
CMakeFiles/
CMakeCache.txt
Makefile
boardCropCoordinates.txt
Track4K
*.pyc
__pycache__/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.retry
