# Sample configuration for Opencast Execute Service

# Load factor
job.load.execute = 1.0

# The list of commands, separated by spaces, which may be run by the Execute Service.
# A value of * means any command is allowed.
# Default: empty (no commands allowed)
commands.allowed = /opt/opencast/wfexec/track4k.pl

